// ===========================
// Global Settings (variables)
// ===========================
// Organize by category, e.g. dimensions,
// breakpoints, z-indexes, colors, etc.


// ----------------
// Asset management
// ----------------
// Config for when using the asset("some/path") function.

//$asset-public-root: "/assets/";
//$asset-query-string: "v1";


// -------------
// Media queries
// -------------

// Breakpoints
$start-tablet: 700px;
$start-desktop: 1200px;

// Pre-built media queries
// Example usage: @media ($mq-desktop) { … }
//$mq-phone:       mq-build($maxw: $start-tablet);
//$mq-tablet:      mq-build($minw: $start-tablet, $maxw: $start-desktop);
//$mq-desktop:     mq-build($minw: $start-desktop);
//$mq-upto-tablet: mq-build($maxw: $start-desktop);
//$mq-from-tablet: mq-build($minw: $start-tablet);


// -------------------
// Brand/design colors
// -------------------
// Tip: Only create variables for brand colors,
// not for every single possible shade of grey.

$color-main: #2f0743;
$color-second: #41295a;
$color-third: #784ca6;
$color-text: #000000;
$color-grey: #efefef;

// ------
// Fonts
// ------
$font-main: 'Mukta', sans-serif;
